 
 /* Estilos para el contenedor del perfil */
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 500px;
  background-color: #f0f0f0;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  position: relative;
}

/* Estilos para la imagen del perfil */
.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Estilos para el nombre del administrador */
.admin-name {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  color: #e0c645; /* Amarillo similar al de Genshin Impact */
}

/* Estilos para la descripción del perfil */
.profile-description {
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  color: #ffffff; /* Texto blanco */
}

/* Estilos para los detalles adicionales del perfil */
.profile-details {
  margin-top: 30px;
  color: #ffffff; /* Texto blanco */
}

/* Estilos para los detalles de cada ítem */
.profile-details-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Estilos para el icono de cada ítem */
.profile-details-icon {
  font-size: 20px;
  margin-right: 10px;
}

/* Estilos para el texto de cada ítem */
.profile-details-text {
  font-size: 18px;
}



