<div class="row ">
    <h2 class="alinearc">BIENVENIDO AL DASHBOARD DE ADMINISTRADOR</h2>
</div>
<div class="section-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="container mt-5">
                        <div class="row">

                            <div class="col-md-4 mb-4">
                                <a routerLink="Activo" class="text-decoration-none">
                                    <div class="card bg-secondary">
                                        <div class="card-body">
                                            <div class="card-block">
                                                <h1 align="center" class="text-white" data-bs-toggle="tooltip"
                                                    data-bs-placement="top"
                                                    title="Clic aquí para ver todos los intructores">Instructores</h1>
                                                <h1 class="text-center text-white"><i class="fs-8 bi-person-vcard"></i>
                                                </h1>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-4 mb-4">
                                <a routerLink="./estudiantes" class="text-decoration-none">
                                    <div class="card bg-primary">
                                        <div class="card-body">
                                            <div class="card-block">
                                                <h1 align="center" class="text-white" data-bs-toggle="tooltip"
                                                    data-bs-placement="top"
                                                    title="Clic aquí para ver todos los estudiantes">Estudiantes</h1>
                                                <h1 class="text-center text-white"><i class="fs-8 bi-people"></i></h1>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-4 mb-4">
                                <a routerLink="./administrators" class="text-decoration-none">
                                    <div class="card bg-success">
                                        <div class="card-body">
                                            <div class="card-block">
                                                <h1 align="center" class="text-white" data-bs-toggle="tooltip"
                                                    data-bs-placement="top"
                                                    title="Clic aquí para ver todos los administradores">Admins</h1>
                                                <h1 class="text-center text-white"><i class="fs-8 bi-person-gear"></i>
                                                </h1>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-4 mb-4">
                                <a routerLink="./instructors" class="text-decoration-none">
                                    <div class="card bg-primary">
                                        <div class="card-body">
                                            <div class="card-block">
                                                <h1 align="center" class="text-white" data-bs-toggle="tooltip"
                                                    data-bs-placement="top"
                                                    title="Clic aquí para ver todos los administradores">CVS</h1>
                                                <h1 class="text-center text-white"><i class="fa-solid fa-list"></i>
                                                </h1>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-4 mb-4">
                                <a routerLink="./cursos" class="text-decoration-none">
                                    <div class="card bg-warning">
                                        <div class="card-body">
                                            <div class="card-block">
                                                <h1 align="center" class="text-white" data-bs-toggle="tooltip"
                                                    data-bs-placement="top"
                                                    title="Clic aquí para ver todas las asesorias">Asesorias</h1>
                                                <h1 class="text-center text-white"><i class="fs-8 bi-mortarboard"></i>
                                                </h1>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-4 mb-4">
                                <a routerLink="./registrarusuario" class="text-decoration-none">
                                    <div class="card bg-info">
                                        <div class="card-body">
                                            <div class="card-block">
                                                <h1 align="center" class="text-white" data-bs-toggle="tooltip"
                                                    data-bs-placement="top"
                                                    title="Clic aquí para ver todos los estudiantes">Registrar Rol</h1>
                                                <h1 class="text-center text-white"><i class="fas fa-fw fa-add"></i>
                                                </h1>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-4 mb-4">
                                <a routerLink="./desactivados" class="text-decoration-none">
                                    <div class="card bg-danger">
                                        <div class="card-body">
                                            <div class="card-block">
                                                <h1 align="center" class="text-white" data-bs-toggle="tooltip"
                                                    data-bs-placement="top"
                                                    title="Clic aquí para ver todos los desactivados">Archivados</h1>
                                                <h1 class="text-center text-white"><i class="fas fa-fw fa-folder"></i>
                                                </h1>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>












                        </div>
                    </div>


                </div>


            </div>


        </div>

    </div>


</div>