<div class="container mt-5">
    <h2>Perfil de {{userD?.name}}</h2>
    <div class="row mt-3">
      <div class="col-md-4">
        <div class="card">
          <img src="assets/3" class="card-img-top" alt="Admin Avatar">
          <div class="card-body">
            <h5 class="card-title">{{userD?.name}}</h5>
            <p class="card-text">Cargo: Estudiante</p>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <h3>Información del Perfil</h3>
        <p><strong>Nombre:</strong> {{userD?.name}}</p>
        <p><strong>Email:</strong> {{userD?.email}}</p>
        <p><strong>Edad:</strong> {{userD?.edad}}</p>
        <p><strong>Sexo:</strong> {{userD?.sexo}}</p>       
        <p><strong>Matricula:</strong>{{userD?.mat}}</p>

        <!-- Puedes agregar más información del perfil del estudiante según tus necesidades -->
      </div>
    </div>
  </div>
  
