<section id="team" class="pb-5">
    <div class="container">
      <h5 class="section-title h1">Inscritos a mi curso </h5>
      <div class="row">
        <!-- Team members -->
        <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let registro of registros">
          <div class="image-flip">
            <div class="mainflip flip-0">
              <div class="frontside">
                <div class="card">
                  <div class="card-body text-center">
                    <p><img class="img-fluid" src="https://th.bing.com/th/id/OIP.RCPuxRTVUoCU9r6jmV2h3QAAAA?pid=ImgDet&rs=1" alt="card image"></p>
                    <h5 class="card-title">{{ registro.user.name }} {{ registro.user.lastname }}</h5>
                    <p class="card-text">ID: {{ registro.user.id }}</p>
                    <p class="card-text">Matrícula: {{ registro.user.mat }}</p>
                    <p class="card-text">Edad: {{ registro.user.edad }}</p>
                    <p class="card-text">Sexo: {{ registro.user.sexo }}</p>
                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                  </div>
                </div>
              </div>
              <div class="backside">
                <div class="card">
                  <div class="card-body text-center mt-4">
                    <h4 class="card-title">Contacto</h4>
                    <p class="card-text">Email: {{ registro.desc }}</p>
                    <ul class="list-inline">
                      <li class="list-inline-item"></li>
                      <li class="list-inline-item">
                        <a class="social-icon text-xs-center" target="_blank" >
                          <i class="fa fa-twitter"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a class="social-icon text-xs-center" target="_blank" >
                          <i class="fa fa-skype"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a class="social-icon text-xs-center" target="_blank" >
                          <i class="fa fa-google"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End of team members -->
      </div>
    </div>
  </section>
  