

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0"> </div>
  <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
    <h3>Cursos inpartidos</h3>

    <div class="form-group">
      <label for="sortSelect">Ordenar por:</label>
      <select class="form-control" id="sortSelect" [(ngModel)]="sortBy" (change)="changeSortBy(sortBy)">
          <option value="default">---Seleccione---</option>
        <option value="nombre">Nombre (A-Z)</option>
        <!-- <option value="edad">Edad (menor a mayor)</option> -->
      </select>
    </div>
  
    <div class="table-responsive mt-3">
      <table class="table table-striped">
        <!-- encabezados de la tabla -->
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripcion</th>       
            <th>Precio</th>
            <th>Estado</th>

          </tr>
        </thead>
        <!-- filas de la tabla -->
        <tbody>
          <tr *ngFor="let i of getCoursesForCurrentPage()">
            <td>{{i.id}}</td>
            <td>{{i.nombre }}</td>
            <td>{{i.desc}}</td>
            <td>$.{{i.precio}}</td>
            <td>{{i.active ? 'Sí' : 'No' }}</td>
            <td><div ><button type="button" class="btn btn-primary btn-sm mx-1"   [routerLink]="'/homeexpert/inscritos/'"><i class="bi bi-eye me-1"></i>Ver Inscritos a mi curso</button></div></td>
            <!-- <button type="button" class="btn btn-success btn-sm mx-1" (click)="AprobarCv(i.id)"><i class="bi bi-check-lg" ></i>Aprobar</button><button type="button" class="btn btn-danger btn-sm mx-1" (click)="RechazarCv(i.id)"><i class="bi bi-x-lg"></i>Rechazar </button> -->
           <!--  <button type="button" class="btn btn-primary btn-sm mx-1" data-bs-toggle="modal" data-bs-target="#modalInformacion" [routerLink]="'/homeexpert/inscritos/'">
              <i class="bi bi-eye me-1"></i> Ver más
            </button>-->
        </tbody>
      </table>
    </div>
  
    <!-- Controles de paginación  -->
    
  </div>

  <!-- Modal detalles de la solicitud -->

  
 