<div class="breadcrumb-wrapper breadcrumb-contacts">
  <div class=" margintop-div1">
    <h3>Cursos disponibles</h3>

  
  </div>
<!--   
  <div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-add-contact"> Agregar administrador
    </button>
  </div>
</div> -->

<!-- Contactos cards -->

<div class="row mt-4">
  <div class="col-lg-6 col-xl-4 d-flex" *ngFor="let a of cursoArr">
    <div class="card card-default p-4">
      <a href="javascript:0" class="media text-secondary" (click)="verModal(a)">
        <img src="https://www.freeiconspng.com/thumbs/courses-icon/courses-icon-12.png" class="mr-3 img-fluid rounded" alt="Avatar Image">
        <div class="media-body">
          <h5 class="mt-0 mb-2 text-dark">{{a.nombre}}</h5>
          <!-- <h5 class="mt-0 mb-2 text-dark">{{a.id}}</h5> -->
          <ul class="list-unstyled">
            <li class="d-flex mb-1">
              <i class="mdi mdi-email mr-1"></i>
              <span>{{a.user.name + " " +  a.user.lastname}}</span>
            </li>
            <li class="d-flex mb-1">
              <i class="mdi mdi-map mr-1"></i>
              <span>{{"$"+a.precio}}</span>
            </li>
            <li>
              <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modal-contact" (click)="verModal(a)"> <i class="fas fa-fw fa-eye"></i> Ver detalles</button>
            </li>
          </ul>
          <!-- Add "Ver detalles" button -->

          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-outline-success btn-sm" (click)="unirmeAlCurso(a.id);"> <i class="fas fa-fw fa-plus"></i> Inscribirme</button>
          </div>
        </div>
      </a>
    </div>
  </div>


</div>



<!-- modal de contacto -->
<div class="modal fade" id="modal-contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <!-- Modal content remains unchanged except for the data display -->
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <!-- ... (rest of modal content) ... -->
      <div class="modal-body pt-0">
        <div class="row no-gutters">
          <div class="col-md-6">
            <div class="profile-content-left px-4">
              <div class="card text-center widget-profile px-0 border-0 ">
                <div class="card-img mx-auto rounded-circle">
                  <img src="https://www.freeiconspng.com/thumbs/courses-icon/courses-icon-12.png" alt="user image" class="rounded-circle">
                </div>
                <!-- Update displayed data -->
                <div class="card-body">
                  <h4 class="py-2 text-dark">{{datosModal?.nombre}}</h4>
                  <div class="mt-5"><span></span></div>
                  <p class="text-dark font-weight-medium pt-4 mb-2">Instructor</p>
                  <p>{{datosModal?.user.name + " " + datosModal?.user.lastname}}</p>
                </div>
              </div>
              <!-- ... (rest of content) ... -->
            </div>
          </div>
          <div class="col-md-6">
            <div class="contact-info px-4">
              <h4 class="text-dark mb-1">Detalles del curso</h4>
              <p class="text-dark font-weight-medium pt-4 mb-2">Descripción</p>
              <p>{{datosModal?.desc}}</p>
              <p class="text-dark font-weight-medium pt-4 mb-2">Precio</p>
              <p>{{"$"+datosModal?.precio}}</p>
              <p class="text-dark font-weight-medium pt-4 mb-2">Estado</p>
              <p>Activo</p>
              <p class="text-dark font-weight-medium pt-4 mb-2">Fecha de registro</p>
              <p>{{datosModal?.created_at | date}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

