@import "~bootstrap-icons/font/bootstrap-icons.css";
.offcanvas{
    --bs-offcanvas-width: 325px;
}
li:hover{
    background-color: rgb(239 240 241 / 80%);
    /* rgb(239 240 241 / 80%) */
}
.nav-link{
    color: rgb(51 51 57);
}
/* .navbar-nav {
    --bs-nav-link-hover-color: rgb(255, 255, 255);
} */
/* @media(max-width:768px){
    .navbar-nav >li:hover{
        background-color: rgb(0 42 255);
    }
} */

/* .offcanvas-body{
    color: #212a39;
} */