body{

	background: #E1BEE7;
}

.profile-card{

	width: 350px;
	height: 600px;
	
	border-radius: 5px;
	background-image: linear-gradient(to right top, #ab47bc, #af50bf, #b358c2, #b660c5, #ba68c8);
}









.msg-button{
    margin-right: 10px;
	outline: 0 !important;
	background: #fff;
	box-shadow: none !important;
    padding-right: 30px;
    padding-left: 30px;
    transition: all 0.3s;
}

.msg-button:hover{

	transform: scaleX(1.1);
}

.profile .icons{

	position: relative;
	top: -335px;
	list-style: none;
	margin-left: 10px;

}

.profile .icons li{

	height: 40px;
	width: 40px;
	background-color: #fff;
	border-radius: 50%;
	margin-top: 5px;
	transition: all 0.4s;
	color: #ab47bc;

}

.profile .icons li:hover{

	cursor: pointer;
	transform: scale(1.1);

}


.profile .icons li a{

	height: 100%;
	width: 100%;
	background-color: #fff;
	line-height: 40px;
}

