<div class="container-fluid video-container">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-8 text-center">
      <div class="video-wrapper">
        <iframe width="100%" height="400" src="https://www.youtube.com/embed/nKPbfIU442g" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="course-details" *ngFor="let a of asesoriasArr">
        <h2>{{a.infoasesoria?.nombre}}</h2>
        <p>Descripcion: {{a.infoasesoria?.desc}}</p>
        <!--button class="btn btn-primary">Enviar mensaje</button>-->
        <form>
          <p class="clasificacion">
           
            <input id="radio1" type="radio" name="estrellas" value="5"><!--
            --><label for="radio1">★</label><!--
            --><input id="radio2" type="radio" name="estrellas" value="4"><!--
            --><label for="radio2">★</label><!--
            --><input id="radio3" type="radio" name="estrellas" value="3"><!--
            --><label for="radio3">★</label><!--
            --><input id="radio4" type="radio" name="estrellas" value="2"><!--
            --><label for="radio4">★</label><!--
            --><input id="radio5" type="radio" name="estrellas" value="1"><!--
            --><label for="radio5">★</label>
          </p>
        </form>
        
      </div>
    </div>
  </div>
</div>
