<div>
    <button type="button" (click)="toggleForm()" class="btn btn-outline-success"> <i
            class="fa-solid fa-square-plus"></i> Agregar categoria</button>
</div>
<div *ngIf="showForm">
    <form [formGroup]="catForm" (ngSubmit)="saveRegister()">
        <div class="form-group">
            <div class="container mt-5" style="margin-top: 50 rem;">
                <div class="card mt-5">

                    <div class="progress mt-3">
                        <div class="progress-bar" [style.width.%]="progress" role="progressbar"
                            [attr.aria-valuenow]="progress" aria-valuemin="0" aria-valuemax="100">
                            Es tu progreso del form {{ progress }}%
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="mt-2">
                            <label for="exampleFormControlTextarea1" class="form-label">Nombre*</label>
                            <input class="form-control" formControlName="nombre" placeholder="Nombre de la categoria"
                                (change)="updateProgress()">
                            <small *ngIf="validInput('nombre')" class="form-text text-danger">
                                Campo requerido.
                            </small>
                        </div>
                        <br>
                        <button type="submit" [disabled]="catForm.invalid" class="btn btn-primary btn-block"><i
                                class="fa-solid fa-cloud-arrow-up"></i> Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
<br>
<div>
    <input class="form-control" type="text" [(ngModel)]="searchTerm" placeholder="Buscador de categorías...">
</div>


<div class="table-responsive">
    <table id="admins" class="table table-striped table-hover table-bordered shadow-lg mt-4" style="width:100%">
        <thead class="bg-primary text-white">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Matricula</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>

        <tbody *ngIf="getFilteredCategories().length > 0; else noResults">
            <tr *ngFor="let cat of getFilteredCategories() | paginate: { itemsPerPage: 3, currentPage: p }">
                <td>{{cat.id}}</td>
                <td>{{cat.nombre}}</td>

                <td>
                    <button class="btn btn-outline-danger" type="submit" (click)="confirmarAlert(cat.id)"><i class="fas fa-fw fa-trash"></i>
                        Eliminar</button>

                </td>
            </tr>
        </tbody>
         <!-- Mensaje cuando no hay resultados -->
         <ng-template #noResults>
            <tbody>
                <tr>
                    <td colspan="3" class="text-center">NO HAY REGISTROS</td>
                </tr>
            </tbody>
        </ng-template>

    </table>
</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>