<div class="responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Razón</th>
        <th scope="col">Ruta CV</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cv of expertcv">
        <th scope="row">{{ cv.id }}</th>
        <td>{{ cv.razon }}</td>
        <td>{{ cv.rutaCv }}</td>
        <td>{{ cv.statuscv_id }}</td>
      </tr>
    </tbody>
  </table>
</div>
