<div class="responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Razón</th>
        <th scope="col">Ruta CV</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cv of expertcv">
        <th scope="row">{{ cv.id }}</th>
        <td>{{ cv.razon }}</td>
        <td>{{ cv.rutaCv }}</td>
        <td>{{ cv.statuscv_id }}</td>
        <!-- <td>
          <div class="col-xs-12 col-sm-12 col-md-8">
            <div class="form-group">
              <strong>PDF:</strong>
              <embed [src]="'C:\xampp\htdocs\Back-End-P-Asesorias\public\storage\pdf'+cv.rutaCv" type="application/pdf" width="100%" height="500px" />
            </div>
          </div> 
        </td> -->
      </tr>

    </tbody>
  </table>
</div>



