<div class="container">
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/login" routerLinkActive="active">
            <i class="fas fa-sign-in-alt"></i> Login
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/registro">
            <i class="fas fa-user-plus"></i> Registrarse
          </a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="registro-container">
            <h1 class="text-center">Crear tu cuenta</h1>
            <form [formGroup]="registroForm" (ngSubmit)="submitForm()">
              <div class="row">
                <div class="col-sm-6">
                  <div class="mb-3">
                    <label class="form-label">Nombre:</label>
                    <input type="text" class="form-control" formControlName="nombre" [ngClass]="{ 'error-field': registroForm.get('nombre')?.invalid && registroForm.get('nombre')?.touched }">
                    <div *ngIf="registroForm.get('nombre')?.invalid && registroForm.get('nombre')?.touched" class="error-message">El nombre es requerido</div>
                  </div>

                  <div class="mb-3">
                    <label class="form-label">Apellidos:</label>
                    <input type="text" class="form-control" formControlName="apellidos" [ngClass]="{ 'error-field': registroForm.get('apellidos')?.invalid && registroForm.get('apellidos')?.touched }">
                    <div *ngIf="registroForm.get('apellidos')?.invalid && registroForm.get('apellidos')?.touched" class="error-message">Tu apellidos es requerido</div>
                  </div>

                  <div class="mb-3">
                    <label class="form-label">Sexo:</label>
                    <select class="form-control" formControlName="sexo" [ngClass]="{ 'error-field': registroForm.get('sexo')?.invalid && registroForm.get('sexo')?.touched }">
                      <option value="" disabled selected>Seleccione</option>
                      <option value="masculino">Masculino</option>
                      <option value="femenino">Femenino</option>
                    </select>
                    <div *ngIf="registroForm.get('sexo')?.invalid && registroForm.get('sexo')?.touched" class="error-message">El sexo es requerido</div>
                  </div>

                  <div class="mb-3">
                    <label class="form-label">Matrícula:</label>
                    <input type="text" class="form-control" formControlName="matricula" [ngClass]="{ 'error-field': registroForm.get('matricula')?.invalid && registroForm.get('matricula')?.touched }">
                    <div *ngIf="registroForm.get('matricula')?.invalid && registroForm.get('matricula')?.touched" class="error-message">Tu matricula es requerido</div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="mb-3">
                    <label class="form-label">Email:</label>
                    <input type="email" class="form-control" formControlName="email" [ngClass]="{ 'error-field': registroForm.get('email')?.invalid && registroForm.get('email')?.touched }">
                    <div *ngIf="registroForm.get('email')?.invalid && registroForm.get('email')?.touched" class="error-message">Tu email es requerido</div>
                  </div>

                  <div class="mb-3">
                    <label class="form-label">Password:</label>
                    <input type="password" class="form-control" formControlName="password" [ngClass]="{ 'error-field': registroForm.get('password')?.invalid && registroForm.get('password')?.touched }">
                    <div *ngIf="registroForm.get('password')?.invalid && registroForm.get('password')?.touched" class="error-message">Tu password es requerido</div>
                  </div>

                  <div class="mb-3">
                    <label class="form-label">Edad:</label>
                    <input type="edad" class="form-control" formControlName="edad" [ngClass]="{ 'error-field': registroForm.get('edad')?.invalid && registroForm.get('edad')?.touched }">
                    <div *ngIf="registroForm.get('edad')?.invalid && registroForm.get('edad')?.touched" class="error-message">Tu edad es requerido</div>
                  </div>

                  

                  <div class="mb-3">
                    <label class="form-label">Rol:</label>
                    <select class="form-control" formControlName="Rol" [ngClass]="{ 'error-field': registroForm.get('Rol')?.invalid && registroForm.get('Rol')?.touched }">
                      <option value="" disabled selected>Seleccione</option>
                      <option value="admin">Administrador</option>
                      <option value="user">Experto</option>
                      <option value="user">Estudiante</option>
                    </select>
                    <div *ngIf="registroForm.get('Rol')?.invalid && registroForm.get('Rol')?.touched" class="error-message">El Rol es requerido</div>
                  </div>
                </div>
              </div>
              <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary" [disabled]="registroForm.invalid">Registrar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
